beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
idna==2.10
lxml==4.7.1
pypiwin32==223
pywin32==300
requests==2.25.1
soupsieve==2.2
tqdm==4.62.3
urllib3==1.26.4
pandas==1.2.4
openpyxl==3.0.9

setuptools~=50.3.0
selenium~=3.141.0
proxybroker~=0.3.2
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability